* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    .chennai-section {
        background-color: rgb(250, 249, 247);
       
        .chennai-container {
            width: 90%;
            margin: auto;
            padding: 2% 0%;

            .chennai-head {
                padding: 2% 1%;

                .chennai-head-content {

                    p {
                        padding: 1% 0%;
                        font-size: 1.5em;
                        color: rgb(52, 51, 51)
                    }

                }

                .chennai-line {
                    width: 6%;
                    height: 4px;
                    border-radius: 1px;
                    background-color: rgb(255, 174, 0);
                }
            }

            .chennai-row {
                
                display: flex;
               flex-wrap: wrap;

                .chennai-col {
                    
                    // width: 25%;
                    padding: 1%;

                    .chennai-card {
                        border: 1px solid rgb(248, 197, 102);
                        // background-color: rgb(253, 251, 241);
                        background-color: (255,247,225,.4);
                        border-radius: 10px;
                        padding: 6% 6%;

                        .chennai-para {
                            font-weight: bold;
                            font-size: 1.1em;
                            color:rgb(96, 95, 95);
                            span {
                                // background-image:ar-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
                                background: linear-gradient(180deg, rgb(246, 14, 26),rgb(245, 147, 1),rgb(212, 164, 91));
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                font-size: 2em;
                                font-weight: bold;
                            }
                        }
                        p{
                            padding-top:4%;
                            color:rgb(235, 86, 86);
                            font-weight: bold;
                            padding-bottom: 2%;
                            transition: all 1s linear;

                            i{
                            transition: all 1s linear;

                            }
                        }
                    }
                    .chennai-card:hover{
                        box-shadow: 0px 2px 15px silver;
                    }

                    .chennai-card:hover i{
                        transform: translateX(1%);
                    }

                }
            }
        }
    }
}

@media(min-width:320px){
    .chennai-section{
        .chennai-container{
            .chennai-row{
                .chennai-col{
                    width: 100%;
                }
            }
        }
    }
}
@media(min-width:660px){
    .chennai-section{
        .chennai-container{
            .chennai-row{
                .chennai-col{
                    width: 50%;
                }
            }
        }
    }
}
@media(min-width:1000px){
    .chennai-section{
        .chennai-container{
            .chennai-row{
                .chennai-col{
                    width: 25%;
                }
            }
        }
    }
}
@media(min-width:1100px){
    .chennai-section{
        .chennai-container{

            .chennai-row{
                .chennai-col{
                    width: 25%;
                    
                }
            }
        }
    }
}
